<!-- barber section start -->
<div class="barber_section layout_padding">
    <div class="container">
        <h1 class="barber_taital mb-3">Quotes{% if filtered_by_publisher %} By {{author.username}}{% endif %}</h1>
        <div class="braber_taital_main">
    {% for quote in quotes %}
    <div class="row">
        <div class="col-lg-12" style="padding: 0em;">
            {% if request.user == quote.by %}
            <button><a class="btn btn-success text-white" style="font-size: 1.0em; font-weight: bold; padding: 0.3em 0.5em 0.3em 0.5em; margin-bottom: 0.5em;" href="{% url 'update_quote' quote.id %}">Update</a></button>
            <button><a class="btn btn-success text-white" style="font-size: 1.0em; font-weight: bold; padding: 0.3em 0.5em 0.3em 0.5em; margin-bottom: 0.5em;" href="{% url 'delete_quote' quote.id %}">Delete</a></button>
            {% endif %}
            <div class="barber_bg_main">
                <span class="barber_taital" style="font-size: 1.2em; color: black; padding: 0; padding-top: 0.5em;">" {{quote.quote}} "</span>
                <span class="barber_taital" style="font-size: 0.9em; color: black; padding: 0;"><a href="{% url 'profile' quote.by.id %}">- @{{quote.by.username}}</a></span>
                <div class="row" style="margin-top: 5em;">
                        <div class="col mr-auto">
                            <span class="barber_taital" style="font-size: 1.5em; color: black; padding: 0;">Comments</span>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input name="quote_id" value={{quote.id}} hidden>
                                    <input style="font-size: 1.1em;" type="text" class="form-control" placeholder="Your Opinion Goes Here...." name="comment" aria-label="Your Opinion Goes Here...." aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                       <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                                    </div>
                                 </div>          
                            </form>
                            
                            {% for comment in quote.comments.all %}
                            <div class="row">
                                <div class="col mt-3">
                                    <span class="barber_taital" style="font-size: 0.9em; color: black; padding: 0;">
                                        {% if request.user == comment.by %}
                                        <a href="{% url 'delete_comment' comment.id %}"><i class="fa fa-remove"></i></a>
                                        {% endif %}
                                        <a href="{% url 'profile' comment.by.id %}" class="ml-1">- @{{comment.by.username}}</a>                
                                    </span>                                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="barber_taital" style="font-size: 1em; color: black; padding: 0;">{{comment.comment}}</span>                                                    
                                </div>
                            </div>
                            {% endfor %}            
                        </div>
                       </div>
                    </div>
                 </div>
        </div>
    </div>
</div>
<br>
{% endfor %}
</div>
</div>
</div>
<!-- barber section end -->